.container
{
    margin: 0px auto;
    width: 30vw;
    height: 50vh;
    background-color: lightsalmon;
    border-radius: 10px;
    transition: all .5s;
    margin-top: 15%;
}
.container:hover
{
    transform: scale(1.05);
    box-shadow: 9px 10px 10px rgba(0, 0, 0, 0.2);
}

p{
    font-size: 1em;
    padding-left: 5px;
}
.box
{
    width: 50%;
    height: 50%;
    background-color: lightpink;
    border-radius: 10px;
    margin: auto;
    transition: all .5s;
}
.box:hover
{
    transform: scale(1.05);
    box-shadow: 9px 10px 10px rgba(0, 0, 0, 0.2);
}